body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aqua;
}

.App {
  background-color: greenyellow;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  color: black;
}

.navbar {
  padding: 10px 20px;
  text-align: center;
  background-color: blueviolet;
}

.navbar h1 {
  margin: 10px 0;
  color: azure;
}

.book-list {
  margin: 20px;
}

.book-list ul {
  padding: 0;
  list-style: none;
}

.book-list li {
  background-color: aquamarine;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}

.book-list li:hover {
  opacity: 0.7;
  text-decoration: line-through;
}
